* text=auto

*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.json text eol=lf
*.py text eol=lf
*.asm text eol=lf
*.java text eol=lf
*.ps1 text eol=crlf
*.srlevel binary
